/* style.css */

/* Обнуляем отступы и маржи */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Устанавливаем стили для body */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #3b3b3b;
}

/* Стили для header */
header {
    background-color: #1f1f1f;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Стили для заголовка h1 */
header h1 {
    font-size: 38px;
    text-shadow: 0 0 5px red;

}

/* Стили для контейнера с командой */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to bottom, #1f1f1f, #363636); /* Градиент от верхнего к нижнему краю контейнера */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Внутренняя тень */
    border-radius: 5px;
    text-align: center;
}

/* Стили для заголовка h2 */
.container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 0 5px red;
}

/* Стили для членов команды */
.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Стили для каждого члена команды */
.team-member {
    width: calc(50% - 20px);
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

/* Стили для изображений членов команды */
.team-member img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

/* Стили для bio */
.team-member p {
    margin-bottom: 10px;
    font-size: 16px;
}

/* style.css */

/* ... (ваш предыдущий CSS код) */



/* Стили для контейнера Telegram каналов */
.telegram-links {
    margin-top: 40px;
    text-align: center;
}

/* Стили для заголовка Telegram каналов h2 */
.telegram-links h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: whitesmoke;
}

/* Стили для контейнера ссылок на Telegram каналы */
.telegram-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

/* Стили для ссылок на Telegram каналы */
.telegram-container a {
    display: inline-block;
    background-color: #0088cc;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.telegram-container a:hover {
    background-color: #1f1f1f;
}

/* Стили для контейнера галереи */
.gallery-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to bottom, #1f1f1f, #363636); /* Градиент от верхнего к нижнему краю контейнера */
    border-radius: 5px;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Внутренняя тень */
}

/* Стили для заголовка галереи h2 */
.gallery-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 0 5px red;
}

/* Стили для галереи */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Стили для изображений в галерее */
.gallery img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}



/* style.css */

/* ... (ваш предыдущий CSS код) */

/* Стили для галереи */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Стили для изображений в галерее */
.gallery img {
    width: 500px; /* Задаем фиксированную ширину для изображений */
    height: 250px; /* Задаем фиксированную высоту для изображений */
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Добавляем медиа-запрос для адаптивности на мобильных устройствах */
@media (max-width: 768px) {
    .gallery img {
        width: 150px; /* Уменьшаем размер изображений для мобильных устройств */
        height: 150px;
    }
}






/* style.css */

/* ... (ваш предыдущий CSS код) */

/* Стили для контейнера музыки */
.music-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #91b2ff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    display: flex; /* Добавляем flex-контейнер для выравнивания аудиоэлементов */
    justify-content: space-between; /* Равномерное распределение между элементами */
}

/* Стили для заголовка музыки h2 */
.music-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Стили для аудиоэлементов */
.music-container audio {
    width: 100%;
    max-width: 400px; /* Максимальная ширина аудиоэлемента */
    margin: 0 auto;
    display: block;
    background-color: #91b2ff;
}











/* style.css */

/* ... (ваш предыдущий CSS код) */

/* Стили для членов команды */
.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Равномерное распределение между столбцами */
}

/* Стили для каждого члена команды */
.team-member {
    width: calc(50% - 20px);
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

/* Стили для изображений членов команды */
.team-member img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

/* Добавляем медиа-запрос для адаптивности на мобильных устройствах */
@media (max-width: 768px) {
    /* Стили для членов команды на мобильных устройствах */
    .team-member {
        width: 100%;
    }
}

/* style.css */

/* ... (ваш предыдущий CSS код) */

/* Стили для обведения фотографии красным цветом */
.developer-photo {
    border: 3px solid red; /* Обводим красным цветом */
}



.dev{
    color:red;
    font-weight:bold;
    font-size: 150%;
    text-shadow: 1px 1px 2px red, 0 0 1em red;
    margin-top: 0px;
    padding: 10px;
}






/* style.css */

/* ... (ваш предыдущий CSS код) */

/* Стили для контейнера кнопок социальных сетей */
.social-buttons {
    display: flex;
    justify-content: space-between;
}

/* Стили для кнопок социальных сетей (Instagram и Telegram) */
.social-button {
    flex: 1; /* Распределяет пространство равномерно между кнопками */
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.instagram-button {
    background-color: #ff9f40; /* Цвет фона Instagram */
    color: #fff; /* Цвет текста */
}

.telegram-button {
    background-color: #0088cc; /* Цвет фона Telegram */
    color: #fff; /* Цвет текста */
}

.social-button:hover {
    opacity: 0.8; /* Уменьшение прозрачности при наведении */
}




/* style.css */

/* ... (ваш предыдущий CSS код) */

/* Стили для контейнера участника */
.team-member {
    position: relative; /* Добавляем позицию для позиционирования кнопки */
}

/* Стили для кнопки перехода на профиль */
.profile-link {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0088cc;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0 0 0 5px;
    font-size: 12px;
}

.profile-link a {
    text-decoration: none;
    color: #fff;
}

.profile-link span {
    display: inline-block;
}

/* Стили для кнопок социальных сетей (Instagram и Telegram) */
/* ... (ваш предыдущий CSS код для кнопок Instagram и Telegram) */








/* ... (ваш предыдущий CSS код) */

/* Стили для контейнера Telegram каналов внизу страницы */
.telegram-links {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #608bd1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

/* Стили для контейнера каждой ссылки на Telegram канал */
.telegram-link {
    display: flex; /* Используем flex для расположения текста и изображения в строку */
    align-items: center; /* Выравнивание по вертикали по центру */
    margin: 10px 0; /* Отступы сверху и снизу */
    text-align: center; /* Выравнивание текста по центру */
    text-decoration: none; /* Убираем стандартное подчеркивание ссылок */
    color: inherit; /* Наследуем цвет текста */
    border-radius: 5px; /* Скругление углов */
    padding: 10px; /* Внутренний отступ */
}

/* Стили для изображений ссылок на Telegram каналы */
.telegram-icon {
    max-width: 100px; /* Уменьшил размер изображения */
    border-radius: 50%; /* Скругление изображения */
    margin-right: 10px; /* Расстояние между изображением и текстом */
    border: 2px solid #91b2ff; /* Обводка */
}

/* Стили для текстового контента */
.telegram-content {
    text-align: left; /* Выравнивание текста слева */
}

.telegram-name {
    font-weight: bold;
    color: #383838; /* Цвет текста названия канала */
    transition: color 0.3s ease; /* Плавное изменение цвета при наведении */
}

/* Стили для изменения цвета текста при наведении */
.telegram-link:hover .telegram-name {
    color: white; /* Изменяем цвет текста при наведении на ссылку */
}

/* ... (ваш предыдущий CSS код) */





.team-member {
    width: calc(50% - 20px);
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    /* Ваши другие стили */
}

/* Стили для мобильных устройств и планшетов */
@media screen and (max-width: 768px) {
    /* Пример адаптации ширины контейнера команды и шрифта */
    .container {
        max-width: 100%;
    }

    .container h2 {
        font-size: 24px;
    }

    .team-member {
        width: 100%;
    }

    /* Другие стили для мобильных устройств */
}







.spinner {
 --size: 30px;
 --first-block-clr: #005bba;
 --second-block-clr: #fed500;
 --clr: #111;
 width: 100px;
 height: 100px;
 position: relative;
 margin-left: 780px;
}

.spinner::after,.spinner::before {
 box-sizing: border-box;
 position: absolute;
 content: "";
 width: var(--size);
 height: var(--size);
 top: 50%;
 animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
 left: 50%;
 background: var(--first-block-clr);
}

.spinner::after {
 background: var(--second-block-clr);
 top: calc(50% - var(--size));
 left: calc(50% - var(--size));
 animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {
 0%, 100% {
  transform: none;
 }

 25% {
  transform: translateX(100%);
 }

 50% {
  transform: translateX(100%) translateY(100%);
 }

 75% {
  transform: translateY(100%);
 }
}

@keyframes up {
 0%, 100% {
  transform: none;
 }

 25% {
  transform: translateX(-100%);
 }

 50% {
  transform: translateX(-100%) translateY(-100%);
 }

 75% {
  transform: translateY(-100%);
 }
}



/* Стили для мобильных устройств и планшетов */
@media screen and (max-width: 768px) {
    /* Пример адаптации ширины контейнера команды и шрифта */
    .container {
        max-width: 100%;
    }

    .container h2 {
        font-size: 24px;
    }

    .team-member {
        width: 100%;
    }

    /* Другие стили для мобильных устройств */
}
